/.settings/
/target/
.*.swp
/.project
/.settings/
.DS_Store
/build/
/.gradle/
/servers/daytrader3_Sample/apps
/servers/daytrader3_Sample/logs
/servers/daytrader3_Sample/workarea
/servers/daytrader3_Sample/messaging
/servers/daytrader3_Sample/tranlog
/servers/daytrader3_Sample/derby.log
/shared/*
